* {
    margin: 0;
    padding:0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card_api {
    text-align: center;
    background: #ddd;
    width: 50%;
    height: 65%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 0;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h3 {
    margin-top:5px;
}

.card_information h1 {
    margin-bottom: 20px;
}
.card_click {
    margin-top: 30px;
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: center;
  
}


.btn {
 padding: 10px 35px;
 background: red;
 color: white;
 border: none;
 margin-left: 20px;
 text-transform:capitalize;
 font-size: 15px;
 cursor: pointer;
 transition:all .4s;
 -webkit-transition:all .4s;
 -moz-transition:all .4s;
 -ms-transition:all .4s;
 -o-transition:all .4s;
}
/* .btn:hover  {
     background: black;
} */
.card_click .btn:hover, 
.new_user :hover  {
   background: black;
}
  

.card_click .address {
    background: blue;
}
.new_user {
    background: green;
    margin-top: 30px;
}
